@font-face {
  font-family: "toutiao";
  /* Project id 3285025 */
  src: url('//at.alicdn.com/t/font_3285025_3pppdvm05by.woff2?t=1648476455166') format('woff2'), url('//at.alicdn.com/t/font_3285025_3pppdvm05by.woff?t=1648476455166') format('woff'), url('//at.alicdn.com/t/font_3285025_3pppdvm05by.ttf?t=1648476455166') format('truetype'), url('//at.alicdn.com/t/font_3285025_3pppdvm05by.svg?t=1648476455166#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-dianzan2:before {
  content: "\e61a";
}
.toutiao-dianzan:before {
  content: "\e61b";
}
.toutiao-fenxiang:before {
  content: "\e61c";
}
.toutiao-gengduo:before {
  content: "\e61d";
}
.toutiao-guanbi:before {
  content: "\e61e";
}
.toutiao-lishi:before {
  content: "\e61f";
}
.toutiao-shouji:before {
  content: "\e620";
}
.toutiao-pinglun:before {
  content: "\e621";
}
.toutiao-shanchu:before {
  content: "\e622";
}
.toutiao-shoucang:before {
  content: "\e623";
}
.toutiao-shipin:before {
  content: "\e624";
}
.toutiao-sousuo:before {
  content: "\e625";
}
.toutiao-wuwangluo:before {
  content: "\e626";
}
.toutiao-shouye:before {
  content: "\e627";
}
.toutiao-wenda:before {
  content: "\e628";
}
.toutiao-youjiantou:before {
  content: "\e629";
}
.toutiao-zuojiantou:before {
  content: "\e62a";
}
.toutiao-wode:before {
  content: "\e62b";
}
.toutiao-yuedu:before {
  content: "\e62c";
}
.toutiao-zuopin:before {
  content: "\e62d";
}
.toutiao-yanzhengma:before {
  content: "\e62e";
}
